backcall==0.2.0
cycler==0.10.0
decorator==4.4.2
future==0.18.2
ipykernel==5.3.3
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.2
jupyter-client==6.1.6
jupyter-core==4.6.3
kiwisolver==1.2.0
matplotlib==3.3.0
numpy==1.22.0
pandas==1.0.5
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.5
ptyprocess==0.6.0
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pyzmq==19.0.1
scipy==1.5.1
seaborn==0.10.1
six==1.15.0
torch==1.5.1
torchvision==0.6.1
tornado==6.0.4
tqdm==4.48.0
traitlets==4.3.3
wcwidth==0.2.5
